<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/checkout.css">

    <title>Checkout</title>
</head>

<body>
    {{>nav}}
    <div id='wood-pane'>
        <p>Checkout</p>
    </div>
    <section class='checkout-section'>
        <table id='checkout-table'>
            <tr id='table-header'>
                <th>Product</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <th>Subtotal</th>
                <th id='total'></th>
            </tr>
            <tr>
                <th>Tax</th>
                <th id='tax'></th>
            </tr>
            <tr>
                <th>Total</th>
                <th id='final-total'></th>
            </tr>
        </table>
        <div class='checkout-form-div'>
            <form id='checkout-form' method='POST' action="/charge">
                <input value='new' type="hidden" name='name'>
                <input value='new@new.com' type="hidden" name='Email'>
                <input id='payment-value' type="hidden" name='amount'>
                <div id='card-element'>

                </div>
                <button>Place Order</button>
            </form>
        </div>
    </section>

    {{>footer}}
    <script src="https://js.stripe.com/v3/"></script>
    <script src='/js/checkout.js'></script>

</body>

</html>