<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ordernow.css">
    <title>Document</title>
</head>
<body>
    {{>nav}}
        <div id='wood-pane'>
            <p>Delivery</p>
        </div>
        <section class='order-now-section'>
            <a href="https://order.ubereats.com/green-bay/food-delivery/Bona%20Fide%20Juicery%20(Main%20&%204th%20St)/kXB2RduLRdGE89Cz71kP0A/?utm_source=web-restaurant-manager"><span>De Pere Delivery</span></a>
            <a href="https://order.ubereats.com/green-bay/food-delivery/bona-fide-juicery-college-%2526-oneida/zfXjWmuYQ4y-hspEBWg6tQ"><span>Appleton Delivery</span></a>
            
        </section>
    {{>footer}}
    <script src='/js/ordernow.js'></script>
</body>
</html>   