{{!< default}}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Document</title>
</head>
<body>
    {{>nav}}
        
            <section class='homepage-section'>
                <div>
                    <div>
                        <h1>Our Story</h1>
                        <img src="https://www.bonafidejuicery.com/wp-content/uploads/2017/10/pineapple1-3.png" alt="">
                        <div>
                            <p>Bona Fide Juicery is an idea born on the aspect of creating access to organic healthy options for locals. We are eager to help the organic movement by 
                            introducing new and unique products to the area. We know healthy options can be slim when you are always on the go. We are proud to offer an array of products 
                            to help keep you properly fueled throughout the day. From our cold pressed juices to our avocado toast and everything in between, there are options for everyone. 
                            We are more than happy to accommodate to any diet needs or allergies you may have. Our goal is to help everyone lead the healthy lifestyle they are looking for by 
                            offering bona fide products with bona fide ingredients.
                            </p>
                        </div>
                        
                    </div>
                    <div>
                        <img src="https://www.bonafidejuicery.com/wp-content/uploads/2019/06/IMG_9849.jpg" alt="">
                        <div>
                            <div>
                                <p>organic.</p>
                                <p>fresh.</p>
                                <p style='font-style: italic'>bona fide.</p>
                            </div>
                            <div>
                                <p>/ˌbōnə ˈfīdē/</p>
                                <p>ADJECTIVE:</p>
                                <p>1. GENUINE; REAL, TRUE, ACTUAL. “USING ONLY BONA FIDE FRESH INGREDIENTS"</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div id='body'>
                    <p>our values and visions</p>
                    <div>
                        <p>to spread positive vibes</p>
                        <p>inspire a healthy lifestyle</p>
                    </div>
                    <p>OUR VISION IS TO PROMOTE THE IDEA OF LEADING A HEALTHY AND 
                        POSITIVE, LIFESTYLE. NOT ONLY BY THE THINGS YOU EAT, BUT BY THE 
                        THINGS YOU DO. POSITIVITY CAN START WITH THE THINGS YOU PUT IN 
                        YOUR BODY AND CAN BRANCH TO ALL OTHER ASPECTS OF YOUR LIFE. BY 
                        US CREATING THE OPTION TO EAT HEALTHIER, WE HOPE IT OVERLAPS 
                        INTO ALL AREAS OF YOUR LIFE LEADING YOU INTO A HEALTHIER, HAPPIER
                         YOU.</p>
                </div>
                <div class='instagram'>

                </div> --}}
            </section>
        
    {{>footer}}
    <script src='/js/homepage.js'></script>
</body>
</html>  