<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/month.css">
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    {{>nav}}
    <div id='wood-pane'>
        <p>Search</p>
    </div>
    <section class='month-section'>
        <div>
            <p>test</p>
        </div>
        {{>search}}
    </section>
    {{>footer}}
    <script src='/js/month.js'></script>
</body>
</html>