<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ordernow.css">
    <title>Document</title>
</head>
<body>
    {{>nav}}
        <div id='wood-pane'>
            <p>Pickup</p>
        </div>
        <section class='order-now-section'>
            <a href="https://www.toasttab.com/bona-fide-juicery-de-pere/v3#!/"><span>De Pere Pick-Up</span></a>
            <a href="https://www.toasttab.com/bona-fide-juicery-appleton/v3#!/"><span>Appleton Pick-up</span></a>
        </section>
    {{>footer}}
    <script src='/js/ordernow.js'></script>
</body>
</html> 