<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    <title>Document</title>
</head>
<body>
    {{>nav}}
        <div id='wood-pane'>
            <p>Products</p>
        </div>
        <section class='shop-body'>
            <div class='search-product'>

            </div>
            <div class='product'>
                <div class='shop-sorting'>

                </div>
                <div class='items'>
                    {{#each products}}
                        <div id='item'>
                            <img src="{{image.secure_url}}" alt="">
                            <p>{{title}}</p>
                            <button>Add to Cart</button>
                        </div>
                    {{/each}}
                </div>
                
            </div>
        </section>
    {{>footer}}
    <script src='/js/shop.js'></script>
</body>
</html>       

