.search-product {
    width: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eaeaea;
    
    margin: 0 2rem 0 0;
    padding-bottom: 4rem;
}

.search > div {
    width: 85%;
    text-align: right;
}

.search > div > input { 
    width: 100%;
    border: 1px solid #ddd;
    height: 2rem;
    text-indent: 10px;
    box-sizing: border-box;
} 

.search > div > button {
    background-color: #13aff0;
    color: white;
    border: none;
    border-radius: none;
    padding: 13px;
    margin-top: 10px;
    
}

.search > p, .categories > p {
    border-left: 2.5px solid #13aff0;
    padding-left: 10px;
}

/* .shop-sorting {
    width: 100%;
    
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.shop-sorting > div:first-child * {
    padding: 0 10px 0 10px;
}


.shop-sorting > div > i:hover {
    padding: 5px 10px 5px 10px;
    border: 1px solid #13aff0;
    margin: 0 -1px 0 -1px;
    cursor: pointer;
    color: #13aff0;
}  */