.search-product {
    width: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eaeaea;
    
    margin: 0 2rem 0 0;
    padding-bottom: 4rem;
}

.search > div {
    width: 85%;
    text-align: right;
}

.search > div > input { 
    width: 100%;
    border: 1px solid #ddd;
    height: 2rem;
    text-indent: 10px;
    box-sizing: border-box;
} 

.search > div > button {
    background-color: #13aff0;
    color: white;
    border: none;
    border-radius: none;
    padding: 13px;
    margin-top: 10px;
    
}

.search > p, .categories > p {
    border-left: 2.5px solid #13aff0;
    padding-left: 10px;
}

#search-submit:hover {
    cursor: pointer;
}