 <link rel="stylesheet" href="/css/footer.css">
<div class="spacer"></div> 
    <section id='footer'>
        <div>
            <p>Copyright 2020 - Bona Fide Juicery </p>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Order Ahead</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </section>

 