<link rel="stylesheet" href="/css/nav.css">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet"> 
<script src="https://kit.fontawesome.com/0f023ecc43.js" crossorigin="anonymous"></script>

<div id='spacer'>


    <section id='navbar'>
        
        <div id='top-banner'>
            <div>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
            </div>
            <div id='top-banner-logo'>
                <a href="">
                    <img id='top-banner-img' src="/images/bonafideLogo.jpg" alt="">
                </a>
            </div>
            <div>
                <input type="text" placeholder='Search...'>
            </div>
            
        </div>
        <nav>
            <ul class='navbar'>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li ><a href="/shop">Shop Now <i class="fas fa-caret-down"></i></a>
                    <ul style='margin-top: 2px;' class='dropdown1'>
                        <li><a href="">Bakery</a></li>
                        <li><a href="">Collagen</a></li>
                        <li><a href="">Essential Oils</a></li>
                        <li><a href="">Retail Products</a></li>
                        <li><a href="">Gift Card</a></li>
                    </ul>
                </li>
                <li><a href="/blog">Health + Wellness</a></li>
                <li><a href="/employment">Careers</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/order-now">Order Ahead <i class="fas fa-caret-down"></i></a>
                    <ul style='margin-top: 2px;' class='dropdown1'>
                        <li>
                            <a href=""><p>Delivery</p></a><i class="fas fa-chevron-right"></i>
                            <ul class='dropdown2'>
                                <li><a href="https://www.ubereats.com/green-bay/food-delivery/bona-fide-juicery-college-&-oneida/zfXjWmuYQ4y-hspEBWg6tQ">Appleton Delivery</a></li>
                                <li><a href="https://www.ubereats.com/green-bay/food-delivery/bona-fide-juicery-main-&-4th-st/kXB2RduLRdGE89Cz71kP0A">De Pere Delivery</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><p>Pick Up</p></a><i class="fas fa-chevron-right"></i>
                            <ul class='dropdown2'>
                                <li><a href="https://www.toasttab.com/bona-fide-juicery-appleton/v3#!/">Appleton Pick Up</a></li>
                                <li><a href="https://www.toasttab.com/bona-fide-juicery-de-pere/v3#!/">De Pere Pick Up</a></li>
                                <li>
                                    <a href=""><p>Juice Cleanse</p></a><i class="fas fa-chevron-right"></i>
                                    <ul class='dropdown3'>
                                        <li><a href="https://www.toasttab.com/bona-fide-juicery-appleton/v3#c925c5ac-dfd3-4a26-871e-6180c4c5fa2a">Appleton Juice Cleanse</a></li>
                                        <li><a href="https://www.toasttab.com/bona-fide-juicery-de-pere/v3#c0e5591e-bca8-4853-a02b-d8cefa793815">De Pere Juice Cleanse</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </li>
                <li><a href="cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul> 
        </nav>

    </section>
</div>
<div id='spacer'></div>

<script src='/js/nav.js'></script>