 <link rel="stylesheet" href="/css/productsearch.css">


     <div class='search-product'>
                <div class='search'>
                    <p>Product Search</p>
                    <div>
                        <input autocomplete="off" id='search-input' placeholder='Search products...'type="text">
                        <button type='Submit' >Search</button>
                    </div>
                </div>
                <div class='categories'>
                    <p>Product Categories</p>
                    <input type="checkbox" class="checkbox" name="" autocomplete="off" value="all">
                    <label for="all">All</label><br>
                    <input type="checkbox" class="checkbox" name="" autocomplete="off" value="bakery">
                    <label for="bakery">Bakery</label><br>
                    <input type="checkbox" class="checkbox" autocomplete="off" name="" value="collagen">
                    <label for="collagen">Collagen</label><br>
                    <input type="checkbox" class="checkbox" autocomplete="off" name="" value="essential-oil">
                    <label for="essential-oil">Essential Oils</label><br>
                    <input type="checkbox" class="checkbox" autocomplete="off" name="" value="gift-card">
                    <label for="gift-card">Gift Card</label><br>
                    <input type="checkbox" class="checkbox" autocomplete="off" name="" value="juice-cleanse">
                    <label for="juice-cleanse">Juice Cleanse</label><br>
                    <input type="checkbox" class="checkbox" autocomplete="off" name="" value="retail-products">
                    <label for="retail-products">Retail Products</label><br>
                    <input type="checkbox" class="checkbox" autocomplete="off" name="" value="seasonal-cleanses">
                    <label for="seasonal-cleanses">Seasonal Cleanses</label><br>

                </div>
            </div>

